Makefile
autom4te.cache
config.h
config.h.in
config.log
config.status
configure
ical
ical.desktop
*.gen
startup.tcl
tags
.vim
./inst
.deps
Makefile.in
aclocal.m4
depcomp
missing
ps_header.tcl
stamp-h1
*.o
*.a
.dirstamp

# vscode
.vscode/*
!.vscode/c_cpp_properties.json